.home {
  /* background-color: black; */
  display: flex;
  background-color: rgb(151, 190, 212);
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 90vw;
  padding: 20px;
}

.home_left {
  background-color: rgb(142, 143, 149);
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.logo_policji {
  width: 38vw;
  height: 60vh;
}

.home_right {
  background-color: rgb(142, 143, 149);
  width: 50vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.home_right_title {
  position: absolute;
  width: 465px;
  height: 169px;
  left: 1150px;
  top: 150px;

  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 121px;

  color: #ffffff;

  color: #ffffff;
}

.home_right_subtitle {
  /* Zarządzanie jednostkami policji i policjantami przypisanymi do danej jednostki */

  position: absolute;
  width: 800px;
  height: 400px;
  left: 1100px;
  top: 300px;

  font-family: "Basic";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;

  color: #ffffff;
}
.home_right_button {
  /* Group 1 */

  position: absolute;
  width: 320px;
  height: 120px;
  left: 1310px;
  top: 587px;

  background-color: rgb(43, 45, 64);
  color: #ffffff;
  border-color: transparent;
  font-size: 35px;
}
.home_top_about {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 28px;
  position: absolute;
  top: 10px;
  left: 1580px;
}

.home_top {
  min-height: 30vh;
  background-color: aqua;
}

@media screen and (max-width: 1000px) {
  * {
    /* background-color: blue; */
  }
  .home_botton {
    flex-direction: column;
  }
  .logo_policji {
    width: 85vw;
    margin: 0 10vw;
  }
}
