.home {
  /* background-color: black; */
  color: gray;
  width: 100vw;
  height: 100vh;
}
.home_right {
  background-color: rgb(142, 143, 149);
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.home_left {
  background-color: rgb(142, 143, 149);
  width: 40vw;

  justify-content: center;
  align-items: center;
  margin: 50px;
}

.home_top_about {
  color: gray;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.home_top {
  min-height: 15vh;
  background-color: aqua;
}
@media screen and (max-width: 1000px) {
  * {
    /* background-color: blue; */
  }
  .home_botton {
    flex-direction: column;
  }
  .plan {
    width: 10vw;
    margin: 0 10vw;
  }
}
