.card_mid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  max-width: 1400px; /* Adjust based on your card width and gap */
  top: 314px;
  margin-left: 150px;
}
.service_title20 {
  position: absolute;
  width: 1500px;
  height: 100px;
  left: 155px;
  top: 80px;

  font-family: "League Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 78px;
  line-height: 115px;

  color: #ffffff;
}
.officers_dashboard {
  /* background-color: black; */
  display: flex;
  background: #233a3b;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 100px;
}
